extends conf/docwrapper


append config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var fontAwesome = true
  - var bxSlider = true
  - var animateCss = true
  - var wowJs = true
  //- - var googleMaps = true

  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-home js-bx')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper


    //- include _modules/header

    .main-mask
      h1.headline Современный сервис курьерских услуг
    .head-mask
    .head-backgrounds
      .head-backgrounds__wrapper
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="0ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="60ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="120ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="180ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="240ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="320ms")

    .tool-container
      .tool__items
        .tool__items__wrapper
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="50ms")
            i.fa.fa-cube(aria-hidden="true")
            p Вызов курьера
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="150ms")
            i.fa.fa-cube(aria-hidden="true")
            p Отслеживание
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="250ms")
            i.fa.fa-cube(aria-hidden="true")
            p Тарифы и сроки
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="350ms")
            i.fa.fa-cube(aria-hidden="true")
            p Тарифный калькулятор
    main.main.wow.fadeIn(data-wow-offset="1")
      include _modules/page-home/main

    include _modules/page-home/menu

    include _modules/user-block

    include _modules/footer

include _modules/modal-content
