extends conf/docwrapper


append config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var fontAwesome = true
  - var bxSlider = true
  - var animateCss = true
  - var wowJs = true
  //- - var googleMaps = true

  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-home js-bx')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


mixin svg(arr)
  each item in arr
    - var svgclass = { class: item.class }
    - var identificator = item.pathid
    - var filename = item.filename
    svg()&attributes(svgclass)
      use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="img/" + filename + ".svg#" + identificator)


block content
  .wrapper


    //- include _modules/header

    .main-mask
      h1.headline Современный сервис курьерских услуг
    .head-mask
    .head-backgrounds
      .head-backgrounds__wrapper
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="0ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="60ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="120ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="180ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="240ms")
        .head-backgrounds__column.wow.fadeInUp(data-wow-offset="150" data-wow-delay="320ms")

    .tool-container
      .tool__items
        .tool__items__wrapper
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="50ms")
            .i(aria-hidden="true")
              +svg([{'class': 'icon', 'pathid': 'Layer_1', 'filename':'index-icon_01'}])
            p Вызов2 курьера
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="150ms")
            .i(aria-hidden="true")
              +svg([{'class': 'icon', 'pathid': 'Layer_1', 'filename':'index-icon_02'}])
            p Отслеживание
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="250ms")
            .i(aria-hidden="true")
              +svg([{'class': 'icon', 'pathid': 'Layer_1', 'filename':'index-icon_03'}])
            p Тарифы и сроки
          a.tool__item.wow.fadeInUp(data-wow-offset="10" data-wow-delay="350ms")
            .i(aria-hidden="true")
              +svg([{'class': 'icon', 'pathid': 'Layer_1', 'filename':'index-icon_04'}])
            p Тарифный калькулятор
    main.main
      include _modules/page-home/main

    include _modules/page-home/menu

    include _modules/user-block

    include _modules/footer

include _modules/modal-content
