extends conf/docwrapper


append config
  - var PageTitle = 'Ближайшее отделение'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var fontAwesome = true

  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-nearest')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper



    //- include _modules/header

    .main-mask
    main.main
      section.links
        a(href="http://localhost:8888/page-schedule.html") page-schedule.html
        br
        br
        a(href="http://localhost:8888/page-terms.html") page-terms.html
        br
        br
        a(href="http://localhost:8888/page-cost.html") page-cost.html
        br
        br
        a(href="http://localhost:8888/page-nearest.html") page-nearest.html ближайшие отделения
        br
        br
        a(href="http://localhost:8888/page-callback.html") page-callback перезвон
        br
        br
        a(href="http://localhost:8888/page-contacts.html") contacts контакты
        br
        br
        a(href="http://localhost:8888/page-single-news.html") single-news новость
        br
        br
        a(href="http://localhost:8888/page-single-service.html") single-service сервис услуга
        br
        br
        a(href="http://localhost:8888/index.html") index Главная страница
        br
        br
        a(href="http://localhost:8888/page-about.html") about новости
        br
        br
        a(href="http://localhost:8888/page-news.html") news новости
        br
        br
        a(href="http://localhost:8888/page-services-prices.html") servieces-prices новости
        br
        br
        a(href="http://localhost:8888/page-tools.html") tools новости
