extends conf/docwrapper


append config
  - var PageTitle = 'Услуги и тарифы'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var fontAwesome = true

  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-services-prices js-menu')

  //- - var GoogleFonts = 'Poiret+One'
  - var GoogleFonts = GoogleFonts.concat('Quicksand')
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper

    #pagewrapper

      //- include _modules/header

      .main-mask
      main.main
        include _modules/page-services-prices/services-prices-main

      include _modules/page-services-prices/services-prices-menu

      include _modules/user-block

      include _modules/footer

  include _modules/burger
  
include _modules/modal-content
