extends conf/docwrapper

mixin breadcrumbs(arr)
  ul.breadcrumbs(class!=attributes.class)
    each item in arr
      li
        a(
          href=item.link,
          class=item.class
          ) #{item.anchor}



append config
  - var PageTitle = 'Вакансии'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var fontAwesome = true

  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-vacancies js-menu')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper

    //- include _modules/header

    .main-mask
    main.main
      .wrap
        .inner
          //- .breadcrumb
          //-   a.breadcrumb__link(href="/") На главную
          +breadcrumbs([
             { 'anchor':'Главная','link':'/index.html' },
             { 'anchor':'Вакансии'},
           ])(class='')
              //- <== u can add additional class here.

          .content
            .inner
              //- time.content-pub-date(datetime="<дата и время>") 21.08.2019
              h1.title Garant Post Service приглашает
              p.sub-title
                | Курьерская экспресс-доставка документов "из рук в руки" и посылок "от двери до двери" по г. Алматы, Республике Казахстан, странам ближнего и дальнего зарубежья. Пересылка почтовой корреспонденции срочного характера, перевозка грузов, авиа, железнодорожная,авто. Гибкая тарифная политика, минимальные сроки доставки, надежность.

              ul.vacancies_list

                //- item
                li.vacancies_item
                  .left
                    .title  Бухгалтер по работе с поставщиками
                    .opened_date
                      | Открыта с
                      time.pubdate 09.10.2011
                  .right
                    .salary от 115 000 KZT
                    .city Алматы

                //- item
                li.vacancies_item
                  .left
                    .title  Бухгалтер по работе с поставщиками
                    .opened_date
                      | Открыта с
                      time.pubdate 09.10.2011
                  .right
                    .salary от 115 000 KZT
                    .city Алматы

                //- item
                li.vacancies_item
                  .left
                    .title  Бухгалтер по работе с поставщиками
                    .opened_date
                      | Открыта с
                      time.pubdate 09.10.2011
                  .right
                    .salary от 115 000 KZT
                    .city Алматы

                //- item
                li.vacancies_item
                  .left
                    .title  Бухгалтер по работе с поставщиками
                    .opened_date
                      | Открыта с
                      time.pubdate 09.10.2011
                  .right
                    .ot от 115 000 KZT
                    .city Алматы



    include _modules/page-schedule/menu

    include _modules/user-block

    include _modules/footer

include _modules/modal-content
