extends conf/docwrapper


append config
  - var PageTitle = 'АРХИВ НОВОСТЕЙ'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var fontAwesome = true

  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-single-news js-menu')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper

    //- custom field:
    img.modal-bg(src='img/main_bg4.jpg', alt='')

    //- include _modules/header

    .main-mask
    main.main
      include _modules/page-single-news/single-news-main

    include _modules/page-single-news/single-news-menu

    include _modules/user-block

    include _modules/footer

include _modules/modal-content
