mixin breadcrumbs(arr)
  ul.breadcrumbs(class!=attributes.class)
    each item in arr
      li
        a(
          href=item.link,
          class=item.class
          ) #{item.anchor}


.wrap
  .inner
    //- .breadcrumb
    //-   a.breadcrumb__link(href="/") На главную
    +breadcrumbs([
      { 'anchor':'На главную','link':'/index.html' }
    ])(class='')      //- <== u can add additional class here.
    .content
      .inner
        h1.title Услуги и тарифы

        //- top block: tarifs and important
        .services
          .services-left
            .services__item
            .services__item
            .services__item
            .services__item
            .services__item
            .services__item
          .services-right
            p
            p
            p
            p
            p
        //- bottom block: prices
        .prices
          section.prices__item
            h3.prices__title
            p.prices__text
          section.prices__item
            h3.prices__title
            p.prices__text



        .tool-container
          .tool__item
          .tool__item
          .tool__item
          .tool__item
          .courier-contact
        .form-container
          form.form-courier
            .form-courier-column
              label
                span ФИО
                input
              label
                span Телефон
                input
              label
                span Адрес отправителя
                input
            .form-courier-column
              label
                span Вид отправки
                input
              label
                span Пункт назначения
                input
              label
                span Страховая сумма
                input
            .form-courier-column
              label
                span Общий вес
                input
              label
                span Объем
                input
            .form-courier-btm-row
              .form-courier-column.empty
              .form-courier-column
              .form-courier-column
                button.btn.btn--terms(type="submit") Расчитать дату
            a.btn--clear(href="#" onclick="$('input[type=\"text\"]').val('');") Очистить
