.menu-mask
.menu#menu
  .wrap
    .inner
      a.logo(href="/")
        .logo__essence
          i.fa.fa-cube(aria-hidden="true")
        .logo__text Grant Post Service
      .menu__sidebar
        .menu__sidebar__item
          a.menu__sidebar__item__link(href="page-cost.html")
            i.menu__icon.menu__icon-concept
            span.menu__sidebar__item__link__text Стоимость доставки
        .menu__sidebar__item
          a.menu__sidebar__item__link(href="page-terms.html")
            i.menu__icon.menu__icon-placement
            span.menu__sidebar__item__link__text Сроки доставки
        .menu__sidebar__item
          a.menu__sidebar__item__link(href="page-nearest.html")
            i.menu__icon.menu__icon-infrastructure
            span.menu__sidebar__item__link__text Ближайшее отделение
        .menu__sidebar__item
          a.menu__sidebar__item__link(href="page-schedule.html")
            i.menu__icon.menu__icon-news
            span.menu__sidebar__item__link__text График работы отделений
      .menu__address
        p Республика Казахстан
        p 050016, г.Алматы,
        p пр. Суюнбая 37, этаж 2,
        p e-mail: office@gpserv.kz
      .menu__phone
        p + 7 (777) 871 71 71
        p + 7 (777) 871 71 71
      a.menu__btn__link(href="") Заказать звонок
