mixin breadcrumbs(arr)
  ul.breadcrumbs(class!=attributes.class)
    each item in arr
      li
        a(
          href=item.link,
          class=item.class
          ) #{item.anchor}


.wrap
  .inner
    +breadcrumbs([
      { 'anchor':'Главная','link':'/index.html' },
      { 'anchor':'Архив новостей', 'class':'active--strong' }
    ])(class='')      //- <== u can add additional class here.
    .content
      .inner
        time.content-pub-date(datetime="<дата и время>") 24.02.16
        h1.title Срочность и оперативность доставки
        p.content-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptate non sapiente molestiae pariatur ducimus ad! Officia fugiat sequi omnis fuga doloribus eos! Voluptatum harum sapiente consequatur iure, eos sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, id sint doloribus sequi incidunt, totam velit ut magnam deserunt molestias non minima laboriosam suscipit nemo reprehenderit aut labore rem officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus asperiores molestias, consequuntur deserunt atque, ab temporibus neque nobis minima iste officia
        p.content-text
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut voluptate non sapiente molestiae pariatur ducimus ad! Officia fugiat sequi omnis fuga doloribus eos! Voluptatum harum sapiente consequatur iure, eos sunt. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, id sint doloribus sequi incidunt, totam velit ut magnam deserunt molestias non minima laboriosam suscipit nemo reprehenderit aut labore rem officia. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus asperiores molestias, consequuntur deserunt atque, ab temporibus neque nobis minima iste officia


        button.btn(type="submit") Все новости
