mixin breadcrumbs(arr)
  ul.breadcrumbs(class!=attributes.class)
    each item in arr
      li
        a(
          href=item.link,
          class=item.class
          ) #{item.anchor}



.wrap
  .inner
    +breadcrumbs([
      { 'anchor':'На главную','link':'/index.html' },
    ])(class='')      //- <== u can add additional class here.
    .content
      .inner
        h1.title Сроки доставки
        p.sub-title Данный сервис поможет Вам узнать ориентировочную дату доставки Вашего отправления
        form.form-content.form-nearest
          .content-table

            //- NEW ROW
            .content-table-row
              .content-table-cell.content-table-cell__left
                span Дата отправки
              .content-table-cell.content-table-cell__right
                input#datePickInput.js-de-date(type="text" placeholder="дд - мм - гггг")

            //-  NEW ROW
            .content-table-row
              .content-table-cell.content-table-cell__left
                span Город-отправитель
              .content-table-cell.content-table-cell__right
                .select-essence
                  select.js-de-sender
                    option#id01(value="0") Астана
                    option#id02(value="1") Актау
                    option#id4444(value="2") Актобе
                    option#id4444(value="3") Алматы
                    option#id4444(value="4") Атырау
                    option#id4444(value="5") Аксай (ЗКО)
                    option#id4444(value="6") Балхаш
                    option#id4444(value="7") Жезказган
                    option#id4444(value="8") Караганда
                    option#id4444(value="9") Кокшетау
                    option#id4444(value="10") Костанай
                    option#id4444(value="11") Кызылорда
                    option#id4444(value="12") Оскемен
                    option#id4444(value="13") Павлодар
                    option#id4444(value="14") Петропавловск
                    option#id4444(value="15") Семей
                    option#id4444(value="16") Талдыкорган
                    option#id4444(value="17") Тараз
                    option#id4444(value="18") Темиртау
                    option#id4444(value="19") Уральск
                    option#id4444(value="20") Шымкент
                    option#id4444(value="21") Экибастуз
                  i.fa.fa-angle-down(aria-hidden="true")

            //-  NEW ROW
            .content-table-row
              .content-table-cell.content-table-cell__left
                span Город-получатель
              .content-table-cell.content-table-cell__right
                .select-essence
                  select.js-de-recipient
                    option#id4444(value="0") Астана
                    option#id4444(value="1") Актау
                    option#id4444(value="2") Актобе
                    option#id4444(value="3") Алматы
                    option#id4444(value="4") Атырау
                    option#id4444(value="5") Аксай (ЗКО)
                    option#id4444(value="6") Балхаш
                    option#id4444(value="7") Жезказган
                    option#id4444(value="8") Караганда
                    option#id4444(value="9") Кокшетау
                    option#id4444(value="10") Костанай
                    option#id4444(value="11") Кызылорда
                    option#id4444(value="12") Оскемен
                    option#id4444(value="13") Павлодар
                    option#id4444(value="14") Петропавловск
                    option#id4444(value="15") Семей
                    option#id4444(value="16") Талдыкорган
                    option#id4444(value="17") Тараз
                    option#id4444(value="18") Темиртау
                    option#id4444(value="19") Уральск
                    option#id4444(value="20") Шымкент
                    option#id4444(value="21") Экибастуз
                  i.fa.fa-angle-down(aria-hidden="true")

            //-  NEW ROW
            .content-table-row
              .content-table-cell.content-table-cell__left
                span Услуга
              .content-table-cell.content-table-cell__right
                .select-essence
                  select.js-de-howFast
                    option(value="0") «EXPRESS»
                    option(value="1") ГНСХ
                  i.fa.fa-angle-down(aria-hidden="true")


            //-  NEW ROW
            .content-table-row.js-de-output
              .content-table-cell.content-table-cell__left
                span.js-de-noway Результат рассчета:
              .content-table-cell.content-table-cell__right
                .js-de-content





          a.btn.btn-form.btn--terms Рассчитать дату
          a.btn--clear(href="javascript:void(0)" onclick="$('input[type=\"text\"], input[type=\"date\"]').val('');") Очистить
