.burger-wrapper#burger-content
  .burger-nav
    .burger-nav-content
      .burger-nav__column.burger-nav__column__left
        ul
          li
            a.burger-nav__link.burger-lang-link.active(href="#") Ru
            a.burger-nav__link.burger-lang-link(href="#") Kz
          li
            a.burger-nav__link(href="page-cost.html")
              span
              | Стоимость доставки
          li
            a.burger-nav__link(href="page-terms.html")
              span
              | Сроки доставки
          li
            a.burger-nav__link(href="page-nearest.html")
              span
              | Ближайшее отделение
          li
            a.burger-nav__link(href="page-schedule.html")
              span
              | График работы отдилений
          li
            a.burger-nav__link(href="page-contacts.html")
              span
              | Контакты
      .burger-nav__column.burger-nav__column__right
        ul
          li
            a.burger-nav__link.burger-nav__link__title(href="/")
              | Вернуться на главную
          li
            a.burger-nav__link(href="page-about.html")
              span
              | О компании
          li
            a.burger-nav__link(href="page-services-prices.html")
              span
              | Услуги и тарифы
          li
            a.burger-nav__link(href="page-tools.html")
              span
              | Онлайн инструменты
          li
            a.burger-nav__link(href="page-news.html")
              span
              | Новости
      a.burger-nav__close
        i.fa.fa-times(aria-hidden="true")
    .burger-nav__contacts
      .burger-nav__contacts__address
        p Республика Казахстан
        p 050016, г.Алматы
        p пр. Суюнбая, 37, этаж 2
        p e-mail: office@gpserv.kz
      .burger-nav__contacts__phones
        p +7 (727) 381 81 81
        p +7 (727) 382 24 00
