.footer__outer
  .footer-left
  .footer-mid
    .wrap
      .inner
        .footer__copy
          p 2016 © Разработано в компании UCT
  .footer-right
    .wrap
      .inner
        .footer__menu
          ul.footer__menu__list
            li.footer__menu__item
              a.footer__menu__item__link(href="page-about.html") О компании
            li.footer__menu__item
              a.footer__menu__item__link(href="page-services-prices.html") Услуги и тарифы
            li.footer__menu__item
              a.footer__menu__item__link(href="page-tools.html") Онлайн инструменты
            li.footer__menu__item
              a.footer__menu__item__link(href="page-news.html") Новости
            li.footer__menu__item
              a.footer__menu__item__link(href="page-contacts.html") Контакты



include burger
