.footer__outer
  .footer-left
  .footer-mid
    .wrap
      .inner
        .footer__copy
          p 2016 © Разработано в компании UCT
  .footer-right
    .wrap
      .inner
        .footer__menu
          ul.footer__menu__list
            li.footer__menu__item
              a.footer__menu__item__link(href="page-about.html") О компании
            li.footer__menu__item
              a.footer__menu__item__link(href="page-services-prices.html") Услуги и тарифы
            li.footer__menu__item
              a.footer__menu__item__link(href="page-tools.html") Онлайн инструменты
            li.footer__menu__item
              a.footer__menu__item__link(href="page-news.html") Новости
            li.footer__menu__item
              a.footer__menu__item__link(href="page-contacts.html") Контакты




.slider
  ul#home-slider
    li.small-12.columns.slider--item
      span.num 12
      span.decription
        | лет на рынке
        br
        |  Казахстана
    li.small-12.columns.slider--item
      span.num 32
      span.decription отделения в стране
