.user-block
  .wrap
    .inner
      .top-row
        ul.user-block__menu
          li.user-block__menu__item
            a.user-block__menu__item__link#burger(href="javascript:void(0)")
              i.fa.fa-bars
          li.user-block__menu__item
            a.user-block__menu__item__link(href="page-search.html")
              i.fa.fa-search
          li.user-block__menu__item
            a.user-block__menu__item__link(href="#")
              i.fa.fa-user
            a.user-block__menu__item__title(href="#") Личный кабинет
      .btm-row
        .lang
          .lang__item
            a.lang__link.lang__link--active(herf="#") EN
          .lang__item
            a.lang__link(herf="#") KZ
