@font-face {
  font-family: 'HelveticaNeueCyr-Bold';
  src: url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.eot');
  src: url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold.svg#../fonts/HelveticaNeueCyr-Bold/HelveticaNeueCyr-Bold') format('svg'),
       url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr-Medium';
  src: url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot');
  src: url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff2') format('woff2'),
       url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.woff') format('woff'),
       url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.ttf') format('truetype'),
       url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.svg#HelveticaNeueCyr-Medium') format('svg'),
       url('../fonts/HelveticaNeueCyr-Medium/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
