/* === Page 'nearest' === */


.page-nearest {
  // background: url("../img/main_bg4.jpg") center no-repeat;
  @media #{$mobile-tablet} {
    background: none;
  }
}

.page-nearest .modal-bg {
  display: none;
  // width: 55%;
  // height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  @media #{$desktop-wide} {
    display: block;
  }
}
