/* === Page 'single-news' === */


.page-single-news {
  // background: url("../img/main_bg4.jpg") center no-repeat;
  // @media #{$mobile-tablet} {
  //   background: none;
  // }

  & .wrapper {
    @media #{$mobile-tablet} {
      background: none !important;
    }
  }
}

.page-single-news .modal-bg {
  display: none;
  // width: 75%;
  // height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  @media #{$desktop-wide} {
    display: block;
  }
}


.page-single-news {
  & .form-content {
    margin-bottom: 60px;
    @include clearfix;
  }
}


.page-single-news {
  & label:last-child {
    margin-bottom: 50px;
  }
}

// EOF common styles;



.page-single-news {
  & .title {
    @media #{$mobile} {
      font-size: 14px;
    }
  }
}


.page-single-news {
  & .btn {
    float: left;
  }
}


.page-single-news {
  & .content-text {
      display: block;
      width: 90%;
      color: #5B5B5B;
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 25px;
  }
}









//
.page-single-news {
  & .content {

  }
}

.page-single-news {
  & .content {

  }
}
