/* === Page 'services-prives' === */


// .page-services-prices {
//   background: url("../img/main_bg4.jpg") center no-repeat;
// }


.page-services-prices {
  background: #fff;
  & .form-content {
    margin-bottom: 60px;
    @include clearfix;
  }
}


.page-services-prices {
  & label:last-child {
    margin-bottom: 50px;
  }
}

// EOF common styles;


.page-services-prices {
  & .btn--page-services-prices {
    text-decoration: none;
    font-size: 14px;
    float: right;
    clear: both;
    margin-bottom: 20px;

    display: block;
    padding: 15px;
    background-color: #3E8AE2;
    color: #FFF;
    width: 290px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.7s ease-out;
  }
}

.page-services-prices {
  & .main {
    width: 80%;
    @media #{$tablet} {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }
    @media #{$mobile} {
      width: 100%;
    }
  }
}

.page-services-prices {
  & .user-block__menu .fa {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
  & .user-block__menu__item__link {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
  & .user-block__menu__item__title {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
  & .lang .lang__link {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
}

.page-services-prices {
  & .services {
    margin-bottom: 60px;
    @include clearfix;
  }
}

.page-services-prices {
  & .services-left-wrapper {
    @include clearfix;
    @media #{$mobile} {
      width: 290px;
      margin: 0 auto;
    }
  }
}

.page-services-prices {
  & .services-left {
    float: left;
    width: 60%;

    // outline: 2px dashed crimson;
    // outline-offset: -2px;
    @media #{$mobile} {
      float: none;
      width: 100%;
    }
  }
}


.page-services-prices {
  & .services-right {
    float: left;
    padding-right: 20px;
    width: 40%;
    // outline: 2px dashed black;
    // outline-offset: -2px;
    @media #{$mobile} {
      float: none;
      width: 100%;
    }
    & p {
      font-size: 14px;
      line-height: 20px;
      color: #5b5b5b;
      margin-bottom: 25px;
    }
  }
}

.page-services-prices {
  & .services__item {
    position: relative;
    float: left;
    display: block;
    width: 20%;
    min-width: 130px;
    margin-right: 6.5%;
    margin-bottom: 35px;
    color: #5b5b5b;
    border: 1px solid #ccc;
    background-color: #fff;
    text-align: center;
    padding: 5px;
    display: block;
    transition: background-color 0.7s ease-out;
    cursor: pointer;

    // outline: 2px dashed crimson;
    // outline-offset: -2px;
    &::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    @media #{$desktop} {
      &:nth-child(3n+1) {
        clear: left;
      }
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
    @media #{$tablet} {
      &:nth-child(2n+1) {
        clear: left;
      }
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
    @media #{$mobile} {
      margin-right: 30px;
      &:nth-child(2n) {
        margin-right: 0;
      }
      &:last-child{
        margin-left: 80px;
      }
    }
    &:hover {
      background-color: #3E8AE2;
      border-color: transparent;
      color: #fff;
      & p {
        color: #fff;
      }

      & .i {
        & .icon {
          fill: #fff !important;
        }
      }
    }
  }
}

.page-services-prices {
  & .services__item {
    & .i {
      display: block;
      width: 100px;
      height: 80px;
      // outline: 2px dashed crimson;
      // outline-offset: -2px;
      background-size: 100%;
      background-position: 0 0;
      background-repeat: no-repeat;

      & .icon {
        transition: .7s ease-out;
      }
    }



    & .i {
      font-size: 80px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-48%);
    }

    &:nth-child(1) {
      & .i {
        & .icon {
          width: 100px;
          height: 80px;
          fill: #5b5b5b;
        }
      }
    }

    &:nth-child(2) {
      & .i {
        & .icon {
          width: 100px;
          height: 80px;
          fill: #5b5b5b;
        }
      }
    }

    &:nth-child(3) {
      & .i {
        & .icon {
          width: 70px;
          height: 80px;
          transition: .7s ease-out;

          & .st0{fill:none;stroke:#5b5b5b;stroke-width:3.9462;transition: .7s ease-out;}
          & .st1{fill:#5b5b5b;stroke:#5b5b5b;stroke-linecap:round;stroke-linejoin:round;transition: .7s ease-out;}
          & .st2{fill:#5b5b5b;stroke:#5b5b5b;stroke-width:1.0355;stroke-linecap:round;stroke-linejoin:round;transition: .7s ease-out;}
          & .st3{fill:none;stroke:#5b5b5b;stroke-width:1.1278;stroke-linecap:round;stroke-linejoin:round;transition: .7s ease-out;}
          & .st4{fill:#5b5b5b;stroke:#5b5b5b;transition: .7s ease-out;}
        }
      }

      &:hover {
        & .i {
          & .icon {

            & .st0{fill:none;stroke:#fff;stroke-width:3.9462;}
            & .st1{fill:#fff;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;}
            & .st2{fill:#fff;stroke:#fff;stroke-width:1.0355;stroke-linecap:round;stroke-linejoin:round;}
            & .st3{fill:none;stroke:#fff;stroke-width:1.1278;stroke-linecap:round;stroke-linejoin:round;}
            & .st4{fill:#fff;stroke:#fff;}
          }
        }
      }
    }

    &:nth-child(4) {
      & .i {
        & .icon {
          width: 60px;
          height: 90px;
          fill: #5b5b5b;
        }
      }
    }

    &:nth-child(5) {
      & .i {
        & .icon {
          width: 80px;
          height: 80px;
          transition: .7s ease-out;
          & .st0{display:none;}
          & .st1{display:inline;}
          & .st2{display:inline;stroke:#D3DADD;stroke-miterlimit:10;}
          & .st3{display:inline;fill:none;stroke:#FC6F58;stroke-width:2;stroke-miterlimit:10;}
          & .st9{display:inline;stroke: none; fill: #5b5b5b;}
        }
      }

      &:hover {
        & .i {
          & .icon {
            & .st0{display:none;}
            & .st1{display:inline;}
            & .st2{display:inline;stroke:#fff;stroke-miterlimit:10;transition: .7s ease-out;}
            & .st3{display:inline;fill:none;stroke:#FC6F58;stroke-width:2;stroke-miterlimit:10;}
            & .st9{display:inline;stroke: none; fill: #fff;transition: .7s ease-out;}
          }
        }
      }
    }

    &:nth-child(6) {
      & .i {
        & .icon {
          width: 80px;
          height: 80px;
          fill: #5b5b5b;
        }
      }
    }

    &:nth-child(7) {
      & .i {
        & .icon {
          width: 80px;
          height: 80px;
          fill: #5b5b5b;
        }
      }
    }

    &:nth-child(8) {
      & .i {
        & .icon {
          width: 70px;
          height: 80px;
          fill: #5b5b5b;
        }
      }
    }

    &:nth-child(9) {
      & .i {
        & .icon {
          width: 80px;
          height: 80px;
          fill: #5b5b5b;
        }
      }
    }
  }
}

.page-services-prices {
  & .services__item p {
    display: block;
    height: 34px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);

    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 11px;
    line-height: 13px;
    display: block;
    color: #5b5b5b;
    margin-bottom: 5px;
    & span {
      display: block;
      white-space: nowrap;
    }
  }
}

.page-services-prices {
  & .prices {
    width: 80%;
    @media #{$mobile} {
      width: 100%;
    }
  }
}

.page-services-prices {
  & .prices__item {
    margin-bottom: 45px;
  }
}

.page-services-prices {
  & .prices__title {
    font-size: 16px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    color: #5b5b5b;
    margin-bottom: 15px;
  }
}

.page-services-prices {
  & .prices__item__text {
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #5b5b5b;
    margin-bottom: 15px;
  }
}

.page-services-prices {
  & .prices__list li{
    @include clearfix;
  }
}

.page-services-prices {
  & .prices__text {
    float: left;
    display: block;
    width: 80%;
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #5b5b5b;
    margin-bottom: 15px;
    @media #{$mobile} {
      font-size: 14px;
      line-height: 18px;
      width: 70%;
    }
  }
}

.page-services-prices {
  & .prices__factor {
    width: 80px;
    text-align: left;
    float: right;
    font-size: 16px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    color: #5b5b5b;
    margin-bottom: 15px;
    @media #{$mobile} {
      text-align: right;
    }
  }
}

.page-services-prices {
  & .content {

  }
}
