/* === Page 'not-found' === */



.page-not-found {
  @media #{$desktop-wide} {
    background: url("../img/bg_404.jpg") right top no-repeat;
  }
  background: #fff;

}


.page-not-found {

  & .form-content {
    margin-bottom: 60px;
    @include clearfix;
  }
}

.page-not-found {
  & label:last-child {
    margin-bottom: 50px;
  }
}

// EOF common styles;


.page-not-found {
  & .btn--page-not-found {
    text-decoration: none;
    font-size: 14px;
    float: right;
    clear: both;
    margin-bottom: 20px;

    display: block;
    padding: 15px;
    background-color: #3E8AE2;
    color: #FFF;
    width: 290px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.7s ease-out;
  }
}

.page-not-found {
  & .content-text p {
    max-width: 450px;
    @media #{$mobile} {
      max-width: none;
      width: 100%;
    }
  }
}

.page-not-found {
  & .content__advantages {
    margin-bottom: 60px;
  }
}

.page-not-found {
  & .content__advantages__row {
    @include clearfix;
  }
}

.page-not-found {
  & .content__advantages__cell {
    float: left;
    width: 23%;
    margin-right: 2%;
    @media #{$mobile} {
      width: 47%;
      margin-right: 6%;
      margin-bottom: 25px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2n){
      @media #{$mobile} {
        margin: 0;
      }
    }
    &:nth-child(3n){
      @media #{$mobile} {
        clear: left;
      }
    }
  }
}

.page-not-found {
  & .content__advantages__num {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 12pt;
    display: inline-block;
    width: 20px;

    color: #034287;
    border-bottom: 2px solid #034287;
    margin-bottom: 30px;
  }
}

.page-not-found {
  & .content__advantages__essense {
    color: #5b5b5b;
    font-size: 14px;
    line-height: 22px;
  }
}

.page-not-found {
  & .content__honors__table {
    margin-bottom: 60px;
  }
}

.page-not-found {
  & .content__honors__row {
    @include clearfix;
  }
}

.page-not-found {
  & .content__honors__cell {
    float: left;
    width: 16%;
    margin-right: 4%;
    &:last-child {
      margin-right: 0;
    }
  }
}

.page-not-found {
  & .content__partners__table {
    margin-bottom: 60px;
    @media #{$mobile} {
      margin-bottom: 20px;
    }
  }
}

.page-not-found {
  & .content__partners__row {
    @include clearfix;
  }
}

.page-not-found {
  & .content__partners__cell {
    text-align: center;
    float: left;
    width: 23%;
    margin-right: 2.5%;
    @media #{$mobile} {
      width: 47%;
      margin-right: 6%;
      margin-bottom: 30px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2n){
      @media #{$mobile} {
        margin: 0;
        float: right;
      }
    }
    &:nth-child(3n){
      @media #{$mobile} {
        clear: left;
      }
    }
  }
}

// .page-not-found {
//   & .user-block__menu .fa {
//     color: rgba(91, 91, 91, 1);
//     &:hover {
//       color: rgba(91, 91, 91, .7);
//     }
//   }
//   & .user-block__menu__item__link {
//     color: rgba(91, 91, 91, 1);
//     &:hover {
//       color: rgba(91, 91, 91, .7);
//     }
//   }
//   & .user-block__menu__item__title {
//     color: rgba(91, 91, 91, 1);
//     &:hover {
//       color: rgba(91, 91, 91, .7);
//     }
//   }
//   & .lang .lang__link {
//     color: rgba(91, 91, 91, 1);
//     &:hover {
//       color: rgba(91, 91, 91, .7);
//     }
//   }
// }


// content container
.page-not-found {
  & .content-container {
    @media #{$desktop} {
      margin-left: 120px;
    }
  }
}

.page-not-found {
  & .content-container .class404 {
    position: relative;

    width: 426px;
    min-height: 156px;

    background: url('../img/404.jpg') no-repeat;
    background-size: 100%;
    margin-bottom: 30px;

    @media #{$mobile} {
      width: 286px;
      margin: 0 auto;
      min-height: 105px;
    }

    // outline: 2px dashed crimson;
    // outline-offset: -2px;
  }
}

.page-not-found {
  & .content-container .cross-text {
    position: absolute;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);

    white-space: nowrap;
    color: #5b5b5b;
    @include font(normal, 700, 17px, 27px, 'HelveticaNeueCyr-Bold');

    @media #{$mobile} {
      top: 45px;
      @include font(normal, 700, 13px, 27px, 'HelveticaNeueCyr-Bold');
    }
  }
}

.page-not-found {
  & .content-container .subline {
    width: 426px;
    text-align: center;
    color: #5b5b5b;
    @include font(normal, 700, 17px, 27px, 'HelveticaNeueCyr-Bold');

    @media #{$mobile} {
      width: 286px;
      margin: 0 auto;
    }
  }
}

.page-not-found .main .breadcrumbs {

  margin-bottom: 180px;
}

.page-not-found .main .breadcrumbs li {

  &:last-child a {
    font-weight: 700;
    color: #999;
  }
}

.page-not-found .main .breadcrumbs > li > a {
  color: #bbb;
}


.page-not-found .footer__outer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.page-not-found .footer__menu__item {
  &:first-child {
    & .footer__menu__item__link {
      @media #{$tablet-desktop} {
        padding-left: 0;
      }
    }
  }
}
