/* === Page 'search' === */



// .page-search {
//   background: url("../img/main_bg4.jpg") center no-repeat;
// }


.page-search {
  background: #fff;
}

.page-search {
  & label:last-child {
    margin-bottom: 50px;
  }
}

// EOF common styles;


.page-search {
  & .btn--page-search {
    text-decoration: none;
    font-size: 14px;
    float: right;
    clear: both;
    margin-bottom: 20px;

    display: block;
    padding: 15px;
    background-color: #3E8AE2;
    color: #FFF;
    width: 290px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.7s ease-out;
  }
}

.page-search {
  & .content-text p {
    max-width: 450px;
    @media #{$mobile} {
      max-width: none;
      width: 100%;
    }
  }
}


.page-search {
  & .user-block__menu .fa {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
  & .user-block__menu__item__link {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
  & .user-block__menu__item__title {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
  & .lang .lang__link {
    color: rgba(91, 91, 91, 1);
    &:hover {
      color: rgba(91, 91, 91, .7);
    }
  }
}

.page-search {
  & .results_item {
    margin-bottom: 25px;
  }
}

.page-search {
  & .results_item__number {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 18px;
  }
}

.page-search {
  & .results_item__title {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 12pt;
    display: inline-block;
    text-decoration: none;
    color: #3E8AE2;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #3E8AE2;
    }
  }
}

.page-search {
  & .results_item__content {
    margin-bottom: 20px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.page-search {
  & .sisea-search-form {
    display: block;
    position: relative;
    margin-bottom: 30px;
    @include clearfix;
    width: 470px;

    @media #{$mobile} {
      min-width: 288px;
      width: auto;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.page-search {
  .sisea-search-form #search {
	border: 1px solid #CCC;
	-webkit-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-moz-box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	box-shadow: 0 1px 1px #ddd inset, 0 1px 0 #FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
  color: #999;
	float: left;
	font: 16px Lucida Sans, Trebuchet MS, Tahoma, sans-serif;
	height: 50px;
	padding: 10px;
	width: 320px;
  transition: .3s ease-out;

  @media #{$mobile} {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }

    &:focus {
  	border-color: #aaa;
  	-webkit-box-shadow: 0 1px 1px #bbb inset;
  	-moz-box-shadow: 0 1px 1px #bbb inset;
  	box-shadow: 0 1px 1px #bbb inset;
  	outline: 0;
    }

    &:-moz-placeholder,
    &:-ms-input-placeholder,
    &::-webkit-input-placeholder {
    	color: #999;
    	font-weight: normal;
    }
  }
}

.page-search {
  .sisea-search-form input[type='hidden'] {
    display: none;
  }
}


.page-search {
  .sisea-search-form #submit {

    background-color: #3E8AE2;
    text-decoration: none;
    font-size: 14px;
    float: right;
    display: block;
    padding: 15px;
    background-color: #3E8AE2;
    color: #FFF;
    width: 90px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.7s ease-out;
    cursor: pointer;

    @media #{$mobile} {
      float: none;
      width: 100%;
    }

    &:hover {
      background-color: #1e70cc;
    }
  }
}


.page-search {
  & .sisea-search-form label[for='search'] {
    color: #5b5b5b;
    background-color: #fff;

    display: inline-block;

    margin: 0;
    padding: 0 10px;

    position: absolute;
    top: -10px;
    left: 10px;
  }
}


.page-search {
  & fieldset {
    margin: 0;
    padding: 25px 20px;
  }
}


.page-search {
  & .content {

  }
}
