/* === Page 'services-prives' === */


// .page-home {
//   background: url("../img/main_bg4.jpg") center no-repeat;
// }

.page-home {
  background: #fff;
}

.page-home {
  & .slider {
    display: block;
    width: 125px;


    // outline: 2px dashed crimson;
    // outline-offset: -2px;
    // background: hsla(0, 62%, 51%, 0.62);

    position: absolute;
    top: 150px;
    // right: 220px;
    right: 15%;
    @media #{$tablet} {
      display: none;
    }
    @media #{$mobile} {
      display: none;
    }
  }
}

.slider {
	// height: 178px;
	color: dodgerblue;
	font-weight: bold;
	&--item {
		.num {
			font-size: 108px;
			line-height: 108px;
			display: block;
			height: 110px;
      @media #{$tablet} {
        font-size: 90px;
      }
		}
		.decription {
		    margin-left: 3%;
		    display: block;
		}
	}
}

.bxslider {
	margin: 0;
}


.page-home {
  & .content {
    margin-bottom: 50px;
  }
}


//


.page-home {





  & .form-content {
    margin-bottom: 60px;
    @include clearfix;
  }
}


.page-home {
  & label:last-child {
    margin-bottom: 50px;
  }
}

// EOF common styles;

.page-home {
  & .main {
    // background: hsla(55, 89%, 78%, 0.53);
    margin-bottom: 80px;
    width: 80%;
    padding-right: 30px;
    padding-top: 60px;

    margin-top: 120vh;

    position: relative;
    z-index: 1;
    @media #{$tablet} {
      margin-left: 0;
      padding-left: 30px;
      padding-right: 30px;
      width: 100%;
    }
    @media #{$mobile} {
      width: 100%;
      margin-left: 0;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.page-home {
  & .menu-home {
    background: rgba(24, 24, 27, 0.6);
    @media #{$laptop} {
      display: none;
    }
    @media #{$tablet} {
      display: none;
    }
    @media #{$mobile} {
      display: none;
    }

    & .menu__sidebar__item__link__text,
    & .menu__address p,
    & .menu__phone p {
      color: #fff;
    }
  }
}

.page-home {
  & .menu {
    position: absolute;
    top: 0;
    left: 0;

    width: 250px;

    @media #{$laptop} {
      display: none;
    }

    & .logo__essence .fa {
      font-size: 80px;
    }

    & a.logo {
      width: 170px;

      & .logo__text {
        font-size: 16px;
        display: block;
      }
    }

    & .menu__sidebar {
      margin-left: 2%;
    }
  }
}

.page-home {
  & .menu .logo__text,
  & .menu .menu__sidebar__item__link__text,
  & .menu .menu__address,
  & .menu .menu__phone,
  & .menu .menu__btn__link,
  & .menu .logo__text {
    display: block;
  }
}

// news

.page-home {
  & .content-news {
    @include clearfix;
  }
}

.page-home {
  & .news-item {
    float: left;
    box-shadow: 0 4px 11px 0 rgba(0, 34, 51, 0.16);
    width: 32%;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 2%;
    margin-bottom: 30px;
    &:nth-child(3n) {
      @media #{$desktop} {
        clear: right;
        margin-right: 0;
      }
      @media #{$tablet} {
        margin-right: 0;
      }
    }
    @media #{$mobile} {
      width: 80%;
      max-width: 400px;
      margin-right: 9%;
      float: none;
      margin: 0 auto;
      margin-bottom: 30px;
    }
  }
}

.page-home {
  & .news-item__short-desc {
    padding: 15px 20px 25px 20px;
    @media #{$tablet} {
      padding: 15px 16px 20px 16px;
    }
    @media #{$mobile} {
      padding: 12px 10px 15px 10px;
    }
  }
}

.page-home {
  & .short-desc__link {
    color: #901618;
    display: inline-block;
    padding: 2px 0;
    font-size: 14px;
    border-bottom: 2px solid #901618;
    font-weight: bold;
    // width: 130px;
    text-decoration: none;
    &:hover {
      border-bottom: 2px solid transparent;
    }
    @media #{$mobile} {
      font-size: 12px;
    }
  }
}

.page-home {
  & .news-item__thumbnail {
    width: auto;
    // height: 170px;
  }
}

.page-home {
  & .short-desc__title {
    font-size: 16px;
    line-height: 20px;
    display: block;
    font-weight: 700;
    color: #5b5b5b;
    margin-bottom: 15px;
    @media #{$tablet} {
      font-size: 14px;
      line-height: 18px;
    }
    @media #{$mobile} {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.page-home {
  & .short-desc__text {
    font-size: 16px;
    line-height: 20px;
    display: block;
    color: #5b5b5b;
    margin-bottom: 15px;
    @media #{$tablet} {
      font-size: 14px;
      line-height: 18px;
    }
    @media #{$mobile} {
      font-size: 12px;
      line-height: 14px;
    }
  }
}

.page-home {
  & .btn--all-news {
    width: auto;
    padding: 15px 35px;
    float: left;
  }
  & .btn--advantages {
    width: auto;
    padding: 15px 35px;
    float: left;
  }
}

// eof news


// map

.map-l {
    width: 100%;
    height: 450px;
}

// eof map


// why work with us

.page-home {
  & .content__advantages__row {
    @include clearfix;
  }
}

.page-home {
  & .content__advantages__cell {
    float: left;
    width: 23%;
    margin-right: 2%;
    margin-bottom: 40px;
    @media #{$mobile} {
      width: 47%;
      margin-right: 6%;
      margin-bottom: 25px;
    }
    &:last-child {
      margin-right: 0;
    }
    &:nth-child(2n){
      @media #{$mobile} {
        margin: 0;
      }
    }
    &:nth-child(3n){
      @media #{$mobile} {
        clear: left;
      }
    }
  }
}

.page-home {
  & .content__advantages__num {
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 12pt;
    display: inline-block;
    width: 100%;

    color: #3E8AE2;
    height: 60px;
    margin-bottom: 5px;

    @include clearfix;
    position: relative;
  }
}

.page-home {
  & .content__advantages__essense {
    color: #5b5b5b;
    font-size: 12px;
    line-height: 18px;
  }
}


.page-home {
  & .num__essence {
    float: left;
    font-size: 60px;
  }
}

.page-home {
  & .num__title {
    position: absolute;
    left: 36px;
    bottom: 3px;
    // float: right;
    width: 125px;
    line-height: 24px;
  }
}

.page-home {
  & .content__advantages__num {
    &:nth-child(1){
      & .num__title {
        float: right;
      }
    }
    &:nth-child(2){
      & .num__title {
        float: right;
      }
    }
    &:nth-child(3){
      & .num__title {
        float: right;
      }
    }
    &:nth-child(4){
      & .num__title {
        float: right;
      }
    }
  }
}

.page-home {
  & .lang__link {
    color: #fff;
  }
}

// eof why work with us

.scrolloff {
    pointer-events: none;
}


.page-home {
  .main-mask {
    height: 130vh;

    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;

    @media #{$desktop} {
      background: url("../img/main_bgL.jpg") center no-repeat;

    }

    @media #{$tablet} {
      background: url("../img/main_bgM.jpg") center no-repeat;
    }

    @media #{$mobile} {
      background: url("../img/main_bgS.jpg") center no-repeat;
      background-size: cover;
    }
  }
}







.page-home {
  & .head-mask {
    background: rgba(24, 24, 27, 0.6);
    position: absolute;
    top: 80px;
    right: 0px;
    width: 33.333333333333%;
    height: 1500px;
    display: block;
    @media #{$tablet} {
      display: none;
    }
    @media #{$mobile} {
      display: none;
    }
  }
}

.page-home {
  & .head-backgrounds {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding-top: 100vh;
    // z-index: 2;

    & .head-backgrounds__column {
      width: 16.6666%;
      background: rgba(14, 14, 37, 0.6);
      background: #fff;

      float: left;
      height: 1600px;
      // border-right: 2px dashed crimson;
      &:nth-child(5){
        margin-top: 70px;
        @media #{$mobile-tablet} {
          margin-top: 0;
        }
      }
      &:nth-child(6){
        margin-top: 140px;
        @media #{$mobile-tablet} {
          margin-top: 0;
        }
      }
    }
  }

  & .head-backgrounds__wrapper {

  }
}

.page-home {
  & h1.title {
    font-size: 26px;
    @media #{$mobile} {
      font-size: 18px;
    }
  }
  & .title__advantages {
    margin-bottom: 120px;
    @media #{$mobile} {
      margin-bottom: 60px;
    }
  }
}


// floated tool container

.page-home {
  & .tool-container {
    position: absolute;
    top: 60vh;
    left: 16%;
    width: 70%;
    @media #{$laptop} {
      left: 13%;
      min-width: 840px;
    }
    @media #{$tablet} {
      width: 100%;
      min-width: 850px;
      left: 5%;
    }
    @media #{$mobile} {
      left: 11%;
    }

    // transform: translateX(-50%);
  }

  & .tool__items {

    // outline: 3px dashed yellow;
    // outline-offset: -2px;

    @media #{$tablet} {
      width: auto;
    }
    @media #{$mobile} {
      width: 100%;
      margin-bottom: 15px;
    }
  }
}

.page-home {
  & .tool__items__wrapper {
    @include clearfix;
    @media #{$mobile} {
      width: 260px;
      margin: 0 auto;
      & .tool__item:nth-child(2n){
        margin-right: 0;
      }
    }
  }
}

.page-home {
  & .tool__item {
    position: relative;
    float: left;
    display: block;
    width: 20%;
    min-width: 120px;
    margin-right: 5%;
    z-index: 20;

    // outline: 2px dashed crimson;
    // outline-offset: -2px;


    color: #fff;
    background-color: #3E8AE2;
    background: none;
    text-align: center;
    padding: 5px;
    display: block;
    transition: background-color 0.7s ease-out;
    // height: 210px;
    cursor: pointer;
    // &:last-child {
    //   margin-right: 0;
    // // }
    // @media #{$laptop} {
    //   margin-right: 20px;
    //
    //   &:nth-child(1),
    //   &:nth-child(2) {
    //     margin-bottom: 20px;
    //   }
    //   &:nth-child(3) {
    //     clear: both;
    //   }
    // }
    @media #{$tablet} {
      margin-right: 0;

      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }
      &:nth-child(3) {
        // clear: both;
      }
      &:last-child {
        margin-right: 0;
      }
    }

    @media #{$mobile} {
      margin-right: 20px;
      &:nth-child(1),
      &:nth-child(2) {
        margin-bottom: 20px;
      }
      &:nth-child(3) {
        clear: both;
      }
    }

    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
    }
    &:hover {
      background-color: #034287;
      background: none;
      background-color: rgba(204, 204, 204, 0.25);
    }
  }
}


.page-home {
  & .tool__item {
    & .fa {
      font-size: 80px;
      position: absolute;
      top: 0;
      left: 53%;
      transform: translateX(-50%);
    }
  }
}

.page-home {
  & .tool__item {
    & p {
      display: block;
      height: 40px;
      font-size: 18px;
      position: absolute;
      top: 100px;
      left: 52%;
      transform: translateX(-50%);

      font-weight: 700;
    }
  }
}

// eof floated tool container







.page-home {
  & .headline {
    font-size: 48px;
    line-height: 64px;
    color: #fff;
    display: block;
    position: absolute;
    top: 22vh;
    width: 530px;
    left: 22%;
    @media #{$laptop} {
      font-size: 40px;
    }
    @media #{$mobile} {
      left: 20px;
      right: 20px;
      width: 90%;
      font-size: 28px;
      text-align: center;
      line-height: 36px;
    }
  }
}

.page-home {
  & .footer__outer {
    @media #{$tablet} {
      z-index: 1;
      margin-left: 0;
    }
  }
}


.page-home {
  & .map {
    // position: absolute;
    z-index: 5;
    // top: 50%;
    // left: 50%;
    overflow: hidden;
    width: 100%;
    height: 600px;
    min-height: 600px;
    // transform: translate(-50%, -50%);
    // border-radius: 4px 8px 8px 8px;
    background: #ccc;
    @media #{$laptop} {
      height: 500px;
      min-height: 500px;
    }
    @media #{$tablet} {
      height: 400px;
      min-height: 400px;
    }
    @media #{$mobile} {
      height: 300px;
      min-height: 300px;
    }
  }
}



.page-home {
  & .content {

  }
}
