// Variables

$font-family-fallback: sans-serif;
$font-family: 'Source Sans Pro';
$font-size: 1em;
$font-weight: 400;

$line-height: 1.5em;

$headings-font-weight: 600;
$h1-font-size: 2.5em;
$h2-font-size: 1.5em;
$h3-font-size: 1.25em;

// Colors

$color: #7e7e7e;
$color-bg: #32425a;

// $color-primary: #ce606f;
$color-primary: dodgerblue;

$color-link: $color-primary;
$color-headings: #fff;

$color-subline: #768191;

$color-box-header: #fff;
$color-box-header-bg: $color-primary;
$color-box-main: $color;
$color-box-main-bg: #fff;

$color-marker-bg: $color-primary;

// Base

.page-home .map * {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }

}

.page-home body {
  background-color: $color-bg;
  color: $color;
  font: $font-weight #{$font-size}/#{$line-height} $font-family, $font-family-fallback;
  margin: 0;
}

.page-home .map a {
  color: $color-link;
}

.page-home .map h1,
.page-home .map h2,
.page-home .map h3 {
  color: $color-headings;
  font-weight: $headings-font-weight;
}

.page-home .map h1,
.page-home .map .h1 {
  font-size: $h1-font-size;
  margin: 0 0 .2em;
}

.page-home .map h2,
.page-home .map .h2 {
  font-size: $h2-font-size;
  margin: 0 0 .33em;
}

.page-home .map h3,
.page-home .map .h3 {
  font-size: $h3-font-size;
  margin: 0 0 .5em;
}

.page-home .map p {
  margin: .5em 0;
}

.page-home .map svg {
  height: auto;
  max-width: 100%;
  max-width: 709px;
  @media #{$mobile} {
    width: 312px;
    margin: 0 auto;
  }
}

// Heplers

.page-home .map .text-center {
  text-align: center;
}

.page-home .map .subline {
  color: $color-subline;
  font-weight: normal;
}

// rid

.page-home .map .container {
  left: 50%;
  max-width: 740px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

// Map

.page-home .map {
  margin-top: 3em;
  position: relative;
  width: 709px;

  @media #{$laptop-wide} {
    margin-left: 150px;
  }
  @media #{$mobile} {
    width: 312px;
    margin: 0 auto;
  }

  &-markers {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &-marker {
    position: absolute;

    &:after {
      animation-duration: 10s;
      animation-iteration-count: infinite;
      animation-name: pop;
      border-radius: 50%;
      border: 1px solid $color-primary;
      content: '';
      height: 2em;
      left: 0;
      margin: -0.5em 0 0 -0.5em;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 2em;
      @media #{$mobile} {
        // width: 8px;
        // height: 8px;
        margin: -12px 0 0 -12px;
      }
    }

    &:hover {

      .map-marker-info {
        display: block;
        @media #{$mobile} {
          display: none;
        }
      }

    }

    a {
      background-color: $color-marker-bg;
      border-radius: 50%;
      height: 1em;
      display: block;
      text-indent: -9999px;
      width: 1em;
      @media #{$mobile} {
        width: 8px;
        height: 8px;
      }
    }

  }

  &-marker-12 {
    // left: 11%;
    // top: 28%;
    left: 85px;
    top: 126px;
    @media #{$tablet-wide} {
      left: 78px;
      top: 116px;
    }
    @media #{$mobile} {
      left: 33px;
      top: 51px;
    }
  }

  &-marker-3 {
    // left: 25%;
    // top: 34%;
    left: 193px;
    top: 153px;
    @media #{$tablet-wide} {
      left: 179px;
      top: 141px;
    }
    @media #{$mobile} {
      left: 79px;
      top: 60px;
    }

    &:after {
      animation-delay: 3s;
    }

  }

  &-marker-4 {
    // left: 13%;
    // top: 53%;
    top: 239px;
    left: 100px;
    @media #{$tablet-wide} {
      top: 219px;
      left: 92px;
    }
    @media #{$mobile} {
      top: 98px;
      left: 43px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-2 {
    // left: 11%;
    // top: 75%;
    left: 85px;
    top: 338px;
    @media #{$tablet-wide} {
      left: 78px;
      top: 309px;
    }
    @media #{$mobile} {
      left: 35px;
      top: 135px;
    }
  }

  &-marker-7 {
    // left: 41%;
    // top: 13%;
    left: 316px;
    top: 59px;
    @media #{$tablet-wide} {
      left: 292px;
      top: 56px;
    }
    @media #{$mobile} {
      left: 129px;
      top: 24px;
    }

    &:after {
      animation-delay: 3s;
    }

  }

  &-marker-10 {
    // left: 55%;
    // top: 2%;
    left: 424px;
    top: 9px;
    @media #{$tablet-wide} {
      left: 390px;
      top: 9px;
    }
    @media #{$mobile} {
      left: 172px;
      top: 3px;
    }

    &:after {
      animation-delay: 3s;
    }

  }

  &-marker-6 {
    // left: 56%;
    // top: 13%;
    left: 431px;
    top: 59px;
    @media #{$tablet-wide} {
      left: 401px;
      top: 54px;
    }
    @media #{$mobile} {
      left: 175px;
      top: 23px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-1 {
    // left: 61%;
    // top: 28%;
    left: 470px;
    top: 126px;
    @media #{$tablet-wide} {
      left: 430px;
      top: 111px;
    }
    @media #{$mobile} {
      left: 188px;
      top: 50px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-5 {
    // left: 64%;
    // top: 36%;
    left: 493px;
    top: 162px;
    @media #{$tablet-wide} {
      left: 456px;
      top: 142px;
    }
    @media #{$mobile} {
      left: 202px;
      top: 64px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-9 {
    // left: 74%;
    // top: 21%;
    left: 570px;
    top: 95px;
    @media #{$tablet-wide} {
      left: 522px;
      top: 88px;
    }
    @media #{$mobile} {
      left: 228px;
      top: 37px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-11 {
    // left: 82%;
    // top: 33%;
    left: 632px;
    top: 149px;
    @media #{$tablet-wide} {
      left: 582px;
      top: 133px;
    }
    @media #{$mobile} {
      left: 255px;
      top: 59px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-8 {
    // left: 88%;
    // top: 36%;
    left: 678px;
    top: 162px;
    @media #{$tablet-wide} {
      left: 625px;
      top: 141px;
    }
    @media #{$mobile} {
      left: 275px;
      top: 62px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-13 {
    // left: 55%;
    // top: 82%;
    left: 424px;
    top: 369px;
    @media #{$tablet-wide} {
      left: 388px;
      top: 343px;
    }
    @media #{$mobile} {
      left: 169px;
      top: 151px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-14 {
    // left: 60%;
    // top: 79%;
    top: 356px;
    left: 462px;
    @media #{$tablet-wide} {
      top: 326px;
      left: 422px;
    }
    @media #{$mobile} {
      top: 144px;
      left: 185px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-15 {
    // left: 60%;
    // top: 79%;
    top: 260px;
    left: 280px;
    @media #{$tablet-wide} {
      top: 262px;
      left: 282px;
    }
    @media #{$mobile} {
      top: 114px;
      left: 125px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-16 {
    // left: 60%;
    // top: 79%;
    top: 222px;
    left: 472px;
    @media #{$tablet-wide} {
      top: 220px;
      left: 475px;
    }
    @media #{$mobile} {
      top: 95px;
      left: 210px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-17 {
    // left: 60%;
    // top: 79%;
    top: 205px;
    left: 345px;
    @media #{$tablet-wide} {
      top: 200px;
      left: 355px;
    }
    @media #{$mobile} {
      top: 95px;
      left: 155px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-18 {
    // left: 60%;
    // top: 79%;
    top: 270px;
    left: 315px;
    @media #{$tablet-wide} {
      top: 270px;
      left: 315px;
    }
    @media #{$mobile} {
      top: 115px;
      left: 135px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-19 {
    // left: 60%;
    // top: 79%;
    top: 230px;
    left: 125px;
    @media #{$tablet-wide} {
      top: 230px;
      left: 125px;
    }
    @media #{$mobile} {
      top: 100px;
      left: 55px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-20 {
    // left: 60%;
    // top: 79%;
    top: 275px;
    left: 555px;
    @media #{$tablet-wide} {
      top: 275px;
      left: 545px;
    }
    @media #{$mobile} {
      top: 120px;
      left: 240px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-21 {
    // left: 60%;
    // top: 79%;
    top: 130px;
    left: 105px;
    @media #{$tablet-wide} {
      top: 130px;
      left: 105px;
    }
    @media #{$mobile} {
      top: 60px;
      left: 45px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-22 {
    // left: 60%;
    // top: 79%;
    top: 100px;
    left: 495px;
    @media #{$tablet-wide} {
      top: 100px;
      left: 495px;
    }
    @media #{$mobile} {
      top: 45px;
      left: 220px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-23 {
    // left: 60%;
    // top: 79%;
    top: 205px;
    left: 590px;
    @media #{$tablet-wide} {
      top: 205px;
      left: 590px;
    }
    @media #{$mobile} {
      top: 90px;
      left: 260px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-24 {
    // left: 60%;
    // top: 79%;
    top: 70px;
    left: 435px;
    @media #{$tablet-wide} {
      top: 70px;
      left: 435px;
    }
    @media #{$mobile} {
      top: 30px;
      left: 190px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-25 {
    // left: 60%;
    // top: 79%;
    top: 295px;
    left: 575px;
    @media #{$tablet-wide} {
      top: 295px;
      left: 575px;
    }
    @media #{$mobile} {
      top: 130px;
      left: 250px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-26 {
    // left: 60%;
    // top: 79%;
    top: 320px;
    left: 415px;
    @media #{$tablet-wide} {
      top: 320px;
      left: 415px;
    }
    @media #{$mobile} {
      top: 140px;
      left: 182px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-27 {
    // left: 60%;
    // top: 79%;
    top: 300px;
    left: 505px;
    @media #{$tablet-wide} {
      top: 300px;
      left: 505px;
    }
    @media #{$mobile} {
      top: 130px;
      left: 220px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-28 {
    // left: 60%;
    // top: 79%;
    top: 235px;
    left: 255px;
    @media #{$tablet-wide} {
      top: 235px;
      left: 255px;
    }
    @media #{$mobile} {
      top: 100px;
      left: 110px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-29 {
    // left: 60%;
    // top: 79%;
    top: 360px;
    left: 375px;
    @media #{$tablet-wide} {
      top: 360px;
      left: 375px;
    }
    @media #{$mobile} {
      top: 160px;
      left: 165px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-30 {
    // left: 60%;
    // top: 79%;
    top: 260px;
    left: 305px;
    @media #{$tablet-wide} {
      top: 260px;
      left: 305px;
    }
    @media #{$mobile} {
      top: 110px;
      left: 130px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-31 {
    // left: 60%;
    // top: 79%;
    top: 325px;
    left: 480px;
    @media #{$tablet-wide} {
      top: 325px;
      left: 480px;
    }
    @media #{$mobile} {
      top: 142px;
      left: 210px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-32 {
    // left: 60%;
    // top: 79%;
    top: 260px;
    left: 265px;
    @media #{$tablet-wide} {
      top: 260px;
      left: 265px;
    }
    @media #{$mobile} {
      top: 110px;
      left: 115px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-33 {
    // left: 60%;
    // top: 79%;
    top: 100px;
    left: 335px;
    @media #{$tablet-wide} {
      top: 100px;
      left: 335px;
    }
    @media #{$mobile} {
      top: 45px;
      left: 150px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-34 {
    // left: 60%;
    // top: 79%;
    top: 95px;
    left: 375px;
    @media #{$tablet-wide} {
      top: 95px;
      left: 375px;
    }
    @media #{$mobile} {
      top: 45px;
      left: 165px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-35 {
    // left: 60%;
    // top: 79%;
    top: 210px;
    left: 220px;
    @media #{$tablet-wide} {
      top: 210px;
      left: 220px;
    }
    @media #{$mobile} {
      top: 85px;
      left: 95px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-36 {
    // left: 60%;
    // top: 79%;
    top: 310px;
    left: 570px;
    @media #{$tablet-wide} {
      top: 310px;
      left: 570px;
    }
    @media #{$mobile} {
      top: 138px;
      left: 250px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-37 {
    // left: 60%;
    // top: 79%;
    top: 210px;
    left: 110px;
    @media #{$tablet-wide} {
      top: 210px;
      left: 110px;
    }
    @media #{$mobile} {
      top: 92px;
      left: 50px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-38 {
    // left: 60%;
    // top: 79%;
    top: 140px;
    left: 200px;
    @media #{$tablet-wide} {
      top: 140px;
      left: 200px;
    }
    @media #{$mobile} {
      top: 60px;
      left: 88px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-39 {
    // left: 60%;
    // top: 79%;
    top: 160px;
    left: 180px;
    @media #{$tablet-wide} {
      top: 160px;
      left: 180px;
    }
    @media #{$mobile} {
      top: 70px;
      left: 80px;
    }

    &:after {
      animation-delay: 5s;
    }
  }

  &-marker-main-office {
    // left: 73%;
    // top: 76%;
    left: 562px;
    top: 342px;
    @media #{$tablet-wide} {
      left: 515px;
      top: 315px;
    }
    @media #{$mobile} {
      left: 226px;
      top: 137px;
    }

    &:after {
      animation-delay: 5s;
    }

  }

  &-marker-info {
    display: none;
    left: 50%;
    position: absolute;
    bottom: 0;
    transform: translate(-50%, -2em);
    width: 20em;
    z-index: 9999;

    header {
      background-color: $color-box-header-bg;
      border-radius: .5em .5em 0 0;
      color: $color-box-header;
      padding: .5em 1em;
    }

    main {
      background-color: $color-box-main-bg;
      border-radius: 0 0 .5em .5em;
      color: $color-box-main;
      padding: .5em 1em;
    }

    h2 {
      margin-bottom: 0;
    }

    &-inner {
      border-radius: .5em;
      box-shadow: 0 0 .25em rgba(0, 0, 0, .3);
      font-size: .875em;

      &:after {
        border-left: .75em solid transparent;
        border-right: .75em solid transparent;
        border-top: 1em solid #fff;
        content: '';
        height: 0;
        left: 50%;
        position: absolute;
        top: 100%;
        transform: translateX(-50%);
        width: 0;
      }

    }

  }

}

// Animations

.page-home .map .animate {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes bounce-in {

  0%, 20%, 40%, 60%, 80%, 100% {
    transition-timing-function: cubic-bezier(.215, .610, .355, 1);
  }

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }

}

.page-home .map .animate-bounce-in {
  animation-duration: .75s;
  animation-name: bounce-in;
}

@keyframes pop {

  0% {
    transform: scale(0);
  }

  8% {
    opacity: .4;
  }

  10% {
    opacity: 0;
    transform: scale(1);
  }

}

.page-home .map .animate-pop {
  animation-duration: 1s;
  animation-name: pop;
}
